@charset "utf-8";

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ================================================================== */
/* 
   COMP 1850: Final Project
   Author: Mahmoud Ektefaie
   Date: 25/06/2022   
*/
/* ================================================================== */

/* ----- Load Fonts ----- */
@import url('font-archistico-stylesheet.css');
@import url('font-quicksand-stylesheet.css');

/* ----- Browser Resets ----- */
@import url('normalize.css');

/* =================================== */
/* ======== General Styling ========== */
/* =================================== */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #282828;
  --secondary-color: #ff0;
  --tertiary-color: #ff0051;
  --quarternary-color: #ffff6b;
  --quinary-color: #484848;
}

body {
  font-family: 'quicksand';
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'archistico';
  font-size: 3.4rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: var(--quinary-color);
  font-weight: 400;
}

a:link,
a:visited {
  font-weight: 400;
  color: var(--quinary-color);
  text-decoration: none;
  border-bottom: solid 1px var(--quinary-color);
}

a:hover,
a:active,
a:focus {
  font-weight: 400;
  color: var(--tertiary-color);
  border-bottom: solid 2px var(--tertiary-color);
  text-decoration: none;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.container {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus,
textarea:focus {
  background-color: var(--quarternary-color);
}

/* to extend background outside the container */
.full-width {
  -webkit-box-shadow: 0 0 0 100vmax var(--secondary-color);
  box-shadow: 0 0 0 100vmax var(--secondary-color);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
}

/* =================================== */
/* ============= HEADER ============== */
/* =================================== */
header {
  width: 100%;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--secondary-color);
}

#brand {
  width: 100%;
  max-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 1em;
}

#brand h1 {
  margin: 0;
}

#brand h1 a {
  font-size: 2.8rem;
  border-bottom: none;
}

#brand h1 a:link,
#brand h1 a:visited {
  color: var(--primary-color);
  font-family: 'archistico';
  font-weight: bold;
}

button.menu-toggle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  font-size: 1.4rem;
}

.show {
  visibility: visible;
  height: 202px;
  border-bottom: solid 2px var(--tertiary-color);
}

nav {
  width: 100%;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: var(--primary-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

header nav#navbar a {
  display: block;
  text-align: center;
  padding: 4px;
  border-width: 1px;
  color: #e6e6e6;
  background-color: var(--primary-color);
  border-bottom: solid 1px #1b1b1b;
  text-shadow: 0 0 1px#000000;
  letter-spacing: 1.4px;
}

header nav#navbar a:link,
header nav#navbar a:visited {
  text-decoration: none;
  border-bottom-width: 1px;
}

header nav#navbar a:hover {
  background-color: #6a6a32;
  color: var(--tertiary-color);
  text-decoration: none;
  border-width: 1px;
}

nav#navbar ul li a.active {
  color: var(--tertiary-color);
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(../images/messi.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.message {
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(#ffff007d),
    to(transparent)
  );
  background-image: -o-linear-gradient(transparent, #ffff007d, transparent);
  background-image: linear-gradient(transparent, #ffff007d, transparent);
  text-shadow: 1px 1px 1px black;
  padding: 0.5em 0;
  font-weight: 400;
  font-size: 1.1rem;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 1em;
  text-align: center;
}

.highlight {
  padding: 0 0.2em;
  background-image: -o-linear-gradient(
    transparent 0%,
    transparent 54%,
    var(--quarternary-color) 54%,
    var(--quarternary-color) 82.625%,
    transparent 82.625%,
    transparent 100%
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(54%, transparent),
    color-stop(54%, var(--quarternary-color)),
    color-stop(82.625%, var(--quarternary-color)),
    color-stop(82.625%, transparent),
    to(transparent)
  );
  background-image: linear-gradient(
    transparent 0%,
    transparent 54%,
    var(--quarternary-color) 54%,
    var(--quarternary-color) 82.625%,
    transparent 82.625%,
    transparent 100%
  );
}

.capital {
  font-size: 2.4rem;
  font-weight: 600;
}

/* =================================== */
/* ============== MAIN =============== */
/* =================================== */
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container {
  width: 100%;
  background-color: #f6f6f6;
  padding: 1.1em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

main .container h1 {
  overflow-wrap: break-word;
}

main .container h1:before {
  content: '';
  border: 6px solid var(--tertiary-color);
  margin-right: 0.3em;
  border-top: 0;
  border-bottom: 0;
}

/* ----- index.html ----- */
div.main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.main--body {
  width: 100%;
}

.main--img {
  width: 100%;
}

div.main article:last-child {
  margin-bottom: 0;
}

div.main article p {
  margin-bottom: 1.5em;
}

span.education,
span.evaluation,
span.engagement {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 6px;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 1px;
  background-color: var(--quinary-color);
  color: white;
}

/* ----- lotg.html ----- */
main.lotg-main .container {
  padding: 1em 1.5em;
}

.lotg-intro--flex ol {
  margin-left: 2.5em;
  padding: 1em 0 2em;
}

figure.lotg-21-22 {
  display: none;
}

#law-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: law1;
}
#law-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: law2;
}
#law-3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: law3;
}
#law-4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: law4;
}
#law-5 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: law5;
}
#law-6 {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: law6;
}
#law-7 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: law7;
}
#law-8 {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  grid-area: law8;
}
#law-9 {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
  grid-area: law9;
}
#law-10 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  grid-area: law10;
}
#law-11 {
  -ms-grid-row: 21;
  -ms-grid-column: 1;
  grid-area: law11;
}
#law-12 {
  -ms-grid-row: 23;
  -ms-grid-column: 1;
  grid-area: law12;
}
#law-13 {
  -ms-grid-row: 25;
  -ms-grid-column: 1;
  grid-area: law13;
}
#law-14 {
  -ms-grid-row: 27;
  -ms-grid-column: 1;
  grid-area: law14;
}
#law-15 {
  -ms-grid-row: 29;
  -ms-grid-column: 1;
  grid-area: law15;
}
#law-16 {
  -ms-grid-row: 31;
  -ms-grid-column: 1;
  grid-area: law16;
}
#law-17 {
  -ms-grid-row: 33;
  -ms-grid-column: 1;
  grid-area: law17;
}

div.lotg-summary--grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px
    auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto
    16px auto 16px auto 16px auto;
  grid-template-areas:
    'law1'
    'law2'
    'law3'
    'law4'
    'law5'
    'law6'
    'law7'
    'law8'
    'law9'
    'law10'
    'law11'
    'law12'
    'law13'
    'law14'
    'law15'
    'law16'
    'law17';
}

div.lotg-summary--grid article {
  background-color: #edeee0;
  padding: 0.5em;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px 0px rgb(163, 163, 163);
  box-shadow: 0 0 1px 0px rgb(163, 163, 163);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

div.law-img {
  width: 60%;
  margin: 1em auto 0.5em;
}

div.law-img img {
  border-radius: 5% 60% 5% 5%;
}

div.law-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em;
}

div.law-body h3 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

div.law-body ul {
  margin-left: 1em;
}

div.law-body ul li {
  line-height: 1.6;
}

span.back-to-top {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 1em;
}

span.back-to-top a {
  font-size: 1rem;
  color: darkblue;
  border-bottom: 0;
}

span.back-to-top a:hover {
  color: var(--tertiary-color);
}

/* ----- quizzes.html ----- */
form#quiz {
  margin-top: 2em;
  margin-bottom: 3em;
}

form#quiz legend {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px 0 #1e1e1e;
  background-color: var(--tertiary-color);
  margin: auto;
  padding: 7px 25px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px 0 #242424;
  box-shadow: 0 0 1px 0 #242424;
  text-align: center;
}

form#quiz fieldset {
  padding: 1em 1.5em;
  border-style: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 0px 1px #eaeaea;
  box-shadow: 0px 0px 0px 1px #eaeaea;
  background-color: #fdfee6b7;
}

.question {
  padding: 1em 0.25em;
}

.question p {
  margin-bottom: 0.5em;
}

.question div {
  padding-left: 1em;
}

.quiz-submit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quiz-submit-buttons input[type='submit'],
.quiz-submit-buttons input[type='reset'] {
  width: 60%;
  background-color: var(--tertiary-color);
  padding: 10px 15px;
  margin-bottom: 12px;
  border-style: none;
  border-radius: 20px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 1px #1e1e1e;
  -webkit-box-shadow: 0 0 1px 0 rgb(27, 27, 27);
  box-shadow: 0 0 1px 0 rgb(27, 27, 27);
}

.quiz-submit-buttons input[type='submit']:hover,
.quiz-submit-buttons input[type='reset']:hover {
  background-color: var(--quinary-color);
}

.archived-quizzes--flex,
.archived-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.archived-quizzes p {
  margin-bottom: 1em;
}

article.archived-quiz {
  margin: 0.5em 0;
  -webkit-box-shadow: 0 0 2px 0 #777777;
  box-shadow: 0 0 2px 0 #777777;
}

article.archived-quiz h3 {
  background-color: var(--quarternary-color);
  text-align: center;
  padding: 0.25em;
}

article.archived-quiz a {
  border-bottom: none;
}

/* ----- news.html ----- */
main.news-main .container {
  padding: 1em 1.5em;
}

.news h2 {
  margin-bottom: 1em;
}

.countdown--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.countdown-clock {
  width: 65%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #9b0f32;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  margin: 1em auto;
  text-shadow: 0 0 3px #313131;
  border-radius: 100vmax;
}

p#daysLeft {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.6rem;
}

p#timeLeft {
  font-weight: 400;
}

.countdown-image {
  width: 80%;
  margin: auto;
}

#news-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: news1;
}
#news-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: news2;
}
#news-3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: news3;
}
#news-4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: news4;
}
#news-5 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: news5;
}

.news--grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  margin-bottom: 2em;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-areas:
    'news1'
    'news2'
    'news3'
    'news4'
    'news5';
}

.news--grid article {
  background-color: #f5f5d2;
  -webkit-box-shadow: 0 0 3px 0 rgb(199, 199, 199);
  box-shadow: 0 0 3px 0 rgb(199, 199, 199);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.news--grid article:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 2px #9b0f32;
  box-shadow: 0 0 1px 2px #9b0f32;
}

.news--grid article img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.news--grid article h3 {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1em;
}

/* ----- lorem.html ----- */
div.lorem--2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lor2;
}
div.lorem--3a {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lor3a;
}
div.lorem--3b {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: lor3b;
}
div.lorem--5 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: lor5;
  background-color: rgba(255, 255, 0, 0.6);
}
div.lorem--6 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: lor6;
  background-color: rgba(255, 255, 0, 0.3);
}

div.lorem--grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-areas:
    'lor2'
    'lor3a'
    'lor3b'
    'lor5'
    'lor6';
}

.lorem--2,
.lorem--3a,
.lorem--3b,
.lorem--3b {
  padding: 0.5em 1em;
}

.lorem--2 ul {
  margin: 1em;
  line-height: 1.6;
}

.lorem--2 ul li {
  list-style: none;
}

.lorem--2 ul li:before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url('../images/football.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  margin-right: 9px;
}

.lorem--2 .article-image {
  display: block;
  width: 70%;
  margin: 1em auto;
}

blockquote {
  width: 95%;
  font-size: 1.1rem;
  background: #f3f3f38a;
  border-left: 3px solid var(--tertiary-color);
  border-right: 3px solid var(--tertiary-color);
  border-radius: 20px;
  margin: 2em auto;
  padding: 1.5em;
  quotes: '\201C''\201D''\2018''\2019';
  font-weight: 400;
  background-color: #e6eff3;
  -webkit-box-shadow: 0 0 2px 1px rgb(236, 236, 236);
  box-shadow: 0 0 2px 1px rgb(236, 236, 236);
}

blockquote:before {
  color: var(--tertiary-color);
  content: '"';
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.3em;
}

cite {
  font-size: 0.9rem;
  font-weight: 100;
}

pre {
  width: 100%;
  padding: 0.5em;
  margin: 1.5em auto 2.5em;
  overflow: auto;
  overflow-y: hidden;
  font-size: 0.8rem;
  line-height: 25px;
  background: #022c42;
  color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 2px 0px rgb(208, 208, 208);
  box-shadow: 0 1px 2px 0px rgb(208, 208, 208);
}

pre code {
  color: #f8ffc5;
}

.lorem--3a h3,
.lorem--3b h3 {
  color: #022c42;
  margin-bottom: 0.75em;
  font-size: 1.4rem;
}

.lorem--3a ol {
  margin: 1em 2.5em;
  list-style-type: lower-alpha;
  line-height: 1.6;
}

.lorem--3b h4 {
  font-size: 1.2rem;
  margin: 1em 0;
}

table {
  width: 90%;
  margin: 1em auto;
  font-size: 1rem;
  background-color: #034264;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 2px 0px #a7a7a7;
  box-shadow: 0 0 2px 0px #a7a7a7;
}

td,
th {
  padding: 0.5em;
}

.lorem--5,
.lorem--6 {
  padding: 0.5em 2em;
}

.lorem--5 h5 {
  font-size: 1.1rem;
}

.lorem--6 h6 {
  font-size: 1rem;
}

/* contact.html */
.get-in-touch--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.get-in-touch--contact-us {
  margin-bottom: 3em;
}

div.socials i {
  font-size: 2rem;
  margin: 0.25em;
  color: var(--tertiary-color);
  text-shadow: 0 1px 0px #515151;
}

div.socials i:hover {
  color: var(--quinary-color);
  cursor: pointer;
}

.get-in-touch--info,
.get-in-touch--form {
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

form#contact-us {
  padding: 2em;
  background-color: #fdfde9;
  -webkit-box-shadow: 0px 0px 0px 1px #dbdbdb;
  box-shadow: 0px 0px 0px 1px #dbdbdb;
  border-radius: 20px;
  margin: 1em auto 0;
  max-width: 500px;
}

.input-label-group,
.input-label-terms {
  margin-bottom: 0.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.input-label-group label {
  margin-bottom: 0.25em;
  color: var(--primary-color);
  font-weight: 600;
}

.input-label-group input,
.input-label-group textarea {
  width: 100%;
  border-radius: 4px;
  border-width: 0;
  padding: 0.5em;
  -webkit-box-shadow: inset 0 0 2px #022c42;
  box-shadow: inset 0 0 2px #022c42;
  font-size: 0.9rem;
  color: var(--primary-color);
  margin-bottom: 3px;
}

.input-label-group textarea {
  min-height: 120px;
}

.contact-us-submit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2em;
}

.contact-us-submit-buttons input[type='submit'],
.contact-us-submit-buttons input[type='reset'] {
  width: 60%;
  background-color: var(--quinary-color);
  padding: 7px 20px;
  border-style: none;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 1px #1e1e1e;
  -webkit-box-shadow: 0 1px 1px 0 rgb(27, 27, 27);
  box-shadow: 0 1px 1px 0 rgb(27, 27, 27);
}

.contact-us-submit-buttons input[type='submit'] {
  margin-bottom: 16px;
}

.contact-us-submit-buttons input[type='submit']:hover,
.contact-us-submit-buttons input[type='reset']:hover {
  color: #fff;
  background-color: var(--tertiary-color);
  cursor: pointer;
}

/* =================================== */
/* ============= FOOTER ============== */
/* =================================== */
footer .container {
  width: 100%;
  height: 160px;
  background-image: url(../images/wave.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

footer p {
  position: absolute;
  bottom: 1em;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

/* ========================================================== */
/* ========== SMALL Media Query - Responsive Table ========== */
/* ========================================================== */
@media (min-width: 320px) and (max-width: 664px) {
  th,
  td,
  tr {
    display: block;
    background-color: #fff;
  }

  table tr:first-child {
    display: none;
  }

  td:nth-of-type(1):before,
  td:nth-of-type(2):before,
  td:nth-of-type(3):before {
    font-weight: bold;
    font-size: 1rem;
  }

  td:nth-of-type(1):before {
    content: 'Header 1: ';
  }

  td:nth-of-type(2):before {
    content: 'Header 2: ';
  }

  td:nth-of-type(3):before {
    content: 'Header 3: ';
  }

  td:nth-child(2) {
    background-color: #e6eff3;
  }

  td,
  th {
    border: solid 1px var(--quinary-color);
    border-bottom: 0;
    text-align: center;
  }

  td:last-child {
    border-bottom: solid 1px var(--quinary-color);
  }

  tr {
    margin: 1em;
  }
}

/* =============================================== */
/* ========== MEDIUM Media Query @665px ========== */
/* =============================================== */
@media (min-width: 665px) {
  #brand h1 a {
    font-size: 3.4rem;
  }

  .menu-toggle {
    display: none;
  }

  .show {
    height: auto;
  }

  nav#navbar {
    visibility: visible;
    height: 43px;
    border-bottom: solid 2px var(--tertiary-color);
  }

  nav#navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  nav#navbar a,
  nav#navbar a:link,
  nav#navbar a:visited {
    border-bottom: 0px;
    padding: 10px;
  }

  nav#navbar ul li a.active {
    color: var(--tertiary-color);
  }

  /* ----- index.html ----- */
  div.main article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  main .container {
    padding: 1.5em;
  }

  .main--body {
    width: 55%;
    padding-right: 1em;
  }

  .main--img {
    width: 45%;
  }

  footer p {
    bottom: 1.75em;
    font-size: 0.9rem;
  }

  /* ----- lotg.html ----- */
  main.lotg-main .container {
    padding: 1em 2em;
  }

  div.lotg-summary--grid {
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px
      auto 16px auto 16px auto;
    grid-template-areas:
      'law1 law2'
      'law3 law4'
      'law5 law6'
      'law7 law8'
      'law9 law10'
      'law11 law12'
      'law13 law14'
      'law15 law16'
      'law17 .';
  }

  .lotg-intro--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  figure.lotg-21-22 {
    display: block;
    max-width: 35%;
  }

  div.law-img {
    width: 60%;
  }

  div.law-img img {
    border-radius: 15% 2% 15% 2%;
    margin: 0 auto;
  }

  div.lotg-summary--grid article div.law-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  div.lotg-summary--grid article div.law-body ul {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  /* -----quizzes.html ----- */
  p.quizzes-page {
    padding: 0 1em;
  }

  form#quiz {
    margin: 2em 3em;
  }

  section.archived-quizzes {
    margin: 2em 3em;
  }

  .quiz-submit-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .quiz-submit-buttons input[type='submit'],
  .quiz-submit-buttons input[type='reset'] {
    width: 30%;
    margin-right: 1em;
  }

  .archived-quizzes--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  article.archived-quiz {
    width: 49%;
  }

  /* ----- news.html ----- */
  .countdown--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .countdown-image {
    width: 40%;
  }

  .countdown-clock {
    width: 40%;
    /* margin-left: 3em; */
  }

  p#timeLeft {
    font-size: 1.2rem;
  }

  .news--grid {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto;
    grid-template-areas:
      'news1 news1 news1 news1'
      'news1 news1 news1 news1'
      'news2 news2 news3 news3'
      'news2 news2 news3 news3'
      'news4 news4 news5 news5'
      'news4 news4 news5 news5';
  }

  /* ----- lorem.html ----- */
  main#lorem .container {
    padding: 1em 2em 3em;
  }

  div.lorem--grid {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 16px auto 16px auto;
    grid-template-areas:
      'lor2 lor2 lor2'
      'lor5 lor3a lor3a'
      'lor3b lor3b lor6';
  }

  .lorem--2 .article-image {
    max-width: 60%;
    margin: 1.5em auto;
  }

  blockquote {
    width: 80%;
    font-size: 1.2rem;
  }

  blockquote:before {
    font-size: 2.4em;
  }

  cite {
    font-size: 1rem;
  }

  table {
    font-size: 1rem;
    background-color: transparent;
  }

  table,
  td {
    border-collapse: collapse;
  }

  th {
    background-color: #034264;
    color: #fff;
  }

  th:first-child {
    border-radius: 15px 0 0 0;
  }

  th:last-child {
    border-radius: 0 15px 0 0;
  }

  td {
    text-align: center;
    background-color: #fff;
    border: 0;
  }

  tr:nth-child(3) td,
  tr:nth-child(5) td {
    background-color: #e6eff3;
  }

  tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
  }
  tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
  }

  /* ----- contact.html ----- */
  main.get-in-touch .container > p {
    padding: 1em 2em;
  }

  form#contact-us {
    max-width: 500px;
    margin: auto;
    padding: 2em;
    margin-top: 1em;
  }

  .contact-us-submit-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .contact-us-submit-buttons input[type='submit'],
  .contact-us-submit-buttons input[type='reset'] {
    width: 45%;
  }

  .contact-us-submit-buttons input[type='submit'] {
    margin-bottom: 0;
  }

  #law-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #law-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #law-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  #law-4 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  #law-5 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  #law-6 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  #law-7 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  #law-8 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }

  #law-9 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }

  #law-10 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }

  #law-11 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }

  #law-12 {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }

  #law-13 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }

  #law-14 {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }

  #law-15 {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }

  #law-16 {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
  }

  #law-17 {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }

  #news-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }

  #news-2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #news-3 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }

  #news-4 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  #news-5 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
  }

  div.lorem--2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  div.lorem--3a {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  div.lorem--3b {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  div.lorem--5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  div.lorem--6 {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
}

/* =============================================== */
/* ========== LARGE Media Query @940px ========== */
/* =============================================== */
@media (min-width: 940px) {
  #brand {
    width: 40%;
  }

  #brand h1 {
    padding-left: 0.25em;
  }

  .show {
    border-bottom: none;
  }

  header nav#navbar {
    width: 60%;
    height: 60px;
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 0;
  }

  header nav#navbar ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 1em;
  }

  header nav#navbar ul li a {
    margin: 0;
  }

  header nav#navbar a {
    font-weight: 600;
    color: var(--primary-color);
    text-shadow: none;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    margin: 2px;
  }

  header nav#navbar a:hover {
    background-color: unset;
  }

  header nav#navbar ul li a.active {
    color: var(--tertiary-color);
    background-color: #88888833;
    border-radius: 12px;
  }

  /* ----- index.html ----- */
  main .container {
    padding-bottom: 3em;
  }

  div.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  div.main article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 31%;
    margin: 0;
  }

  div.main article p {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .main--body {
    width: 100%;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .main--img {
    width: 100%;
  }

  /* ----- lotg.html ----- */
  main.lotg-main .container {
    padding: 1em 3em 3em;
  }

  figure.lotg-21-22 {
    max-width: 30%;
  }

  figure.lotg-21-22 img {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px var(--quinary-color);
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--quinary-color);
  }

  div.lotg-summary--grid article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  div.law-img {
    width: 25%;
  }

  div.law-img img {
    width: 80%;
    border-radius: 7px;
    margin-left: 1em;
    -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px var(--quinary-color);
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--quinary-color);
  }

  span.back-to-top {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translateX(-120px);
    -ms-transform: translateX(-120px);
    transform: translateX(-120px);
  }

  div.lotg-summary--grid {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px
      auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto
      16px auto 16px auto 16px auto;
    grid-template-areas:
      'law1 law1 law1'
      'law2 law2 law2'
      'law3 law3 law3'
      'law4 law4 law4'
      'law5 law5 law5'
      'law6 law6 law6'
      'law7 law7 law7'
      'law8 law8 law8'
      'law9 law9 law9'
      'law10 law10 law10'
      'law11 law11 law11'
      'law12 law12 law12'
      'law13 law13 law13'
      'law14 law14 law14'
      'law15 law15 law15'
      'law16 law16 law16'
      'law17 law17 law17';
  }

  /* ----- quizzes.html ----- */
  p.quizzes-page {
    padding: 0 5em;
  }

  form#quiz {
    margin: 2em 5em;
  }

  form#quiz legend {
    margin-left: 0.5em;
  }

  .quiz-submit-buttons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .quiz-submit-buttons input[type='submit'],
  .quiz-submit-buttons input[type='reset'] {
    width: 25%;
  }

  section.archived-quizzes {
    margin: 2em 5em;
  }

  .archived-quizzes--flex {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  article.archived-quiz {
    width: 31%;
  }

  /* ----- news.html ----- */
  .countdown-image {
    width: 40%;
  }

  .countdown-clock {
    width: 40%;
  }

  .news--grid {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 16px auto 16px auto 16px auto;
    grid-template-areas:
      'news1 news1 news1 .'
      'news1 news1 news1 .'
      'news2 news3 news4 news5'
      'news2 news3 news4 news5';
  }

  /* ----- lorem.html ----- */
  main#lorem .container {
    padding: 1em 3em 3em;
  }

  div.lorem--grid {
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: auto 16px auto 16px auto;
    grid-template-areas:
      'lor2 lor2 lor2 lor2 lor5 lor5'
      'lor2 lor2 lor2 lor2 lor6 lor6'
      'lor3a lor3a lor3a lor3b lor3b lor3b';
  }

  /* ----- contact.html ----- */
  main.get-in-touch .container > p {
    padding: 1em 5em;
  }

  .get-in-touch--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .get-in-touch--contact-us {
    margin-bottom: 3em;
  }

  .get-in-touch--info {
    width: 35%;
    padding-top: 2em;
  }

  form#contact-us {
    margin-top: 1em;
  }

  .get-in-touch--form {
    width: 65%;
    padding-top: 2em;
  }

  footer p {
    bottom: 2em;
  }

  #law-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-6 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-7 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-8 {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-9 {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-10 {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-11 {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-12 {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-13 {
    -ms-grid-row: 25;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-14 {
    -ms-grid-row: 27;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-15 {
    -ms-grid-row: 29;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-16 {
    -ms-grid-row: 31;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #law-17 {
    -ms-grid-row: 33;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #news-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  #news-2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  #news-3 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }

  #news-4 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
  }

  #news-5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
  }

  div.lorem--2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }

  div.lorem--3a {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  div.lorem--3b {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
  }

  div.lorem--5 {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }

  div.lorem--6 {
    -ms-grid-row: 3;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }
}
