@charset "utf-8";

/* ================================================================== */
/* 
   COMP 1850: Final Project
   Author: Mahmoud Ektefaie
   Date: 28/06/2022   
*/
/* ================================================================== */

/* ----- Load Fonts ----- */
@import url('font-archistico-stylesheet.css');
@import url('font-quicksand-stylesheet.css');

/* ----- Browser Resets ----- */
@import url('normalize.css');

/* =================================== */
/* ======== General Styling ========== */
/* =================================== */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #282828;
  --secondary-color: #ff0;
  --tertiary-color: #ff0051;
  --quarternary-color: #ffff6b;
  --quinary-color: #484848;
}

body {
  font-family: 'quicksand';
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--primary-color);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'archistico';
  font-size: 3.4rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: var(--quinary-color);
  font-weight: 400;
}

a:link,
a:visited {
  font-weight: 400;
  color: var(--quinary-color);
  text-decoration: none;
  border-bottom: solid 1px var(--quinary-color);
}

a:hover,
a:active,
a:focus {
  font-weight: 400;
  color: var(--tertiary-color);
  border-bottom: solid 2px var(--tertiary-color);
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* to extend background outside the container */
.full-width {
  box-shadow: 0 0 0 100vmax var(--secondary-color);
  clip-path: inset(0 -100vmax);
}

/* =================================== */
/* ============= HEADER ============== */
/* =================================== */
header {
  width: 100%;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary-color);
}

#brand {
  width: 100%;
  max-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

#brand h1 {
  margin: 0;
}

#brand h1 a {
  font-size: 2.8rem;
  border-bottom: none;
}

#brand h1 a:link,
#brand h1 a:visited {
  color: var(--primary-color);
  font-family: 'archistico';
  font-weight: bold;
}

button.menu-toggle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  font-size: 1.4rem;
}

.show {
  visibility: visible;
  height: 202px;
  border-bottom: solid 2px var(--tertiary-color);
}

nav {
  width: 100%;
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background-color: var(--primary-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

header nav#navbar a {
  display: block;
  text-align: center;
  padding: 4px;
  border-width: 1px;
  color: #e6e6e6;
  background-color: var(--primary-color);
  border-bottom: solid 1px #1b1b1b;
  text-shadow: 0 0 1px#000000;
  letter-spacing: 1.4px;
}

header nav#navbar a:link,
header nav#navbar a:visited {
  text-decoration: none;
  border-bottom-width: 1px;
}

header nav#navbar a:hover {
  background-color: #6a6a32;
  color: var(--tertiary-color);
  text-decoration: none;
  border-width: 1px;
}

nav#navbar ul li a.active {
  color: var(--tertiary-color);
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(../images/messi.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.message {
  color: #fff;
  background-image: linear-gradient(transparent, #ffff007d, transparent);
  text-shadow: 1px 1px 1px black;
  padding: 0.5em 0;
  font-weight: 400;
  font-size: 1.1rem;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 1em;
  text-align: center;
}

.highlight {
  padding: 0 0.2em;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(54%, transparent),
    color-stop(54%, var(--quarternary-color)),
    color-stop(82.625%, var(--quarternary-color)),
    color-stop(82.625%, transparent),
    to(transparent)
  );
  background-image: -o-linear-gradient(
    transparent 0%,
    transparent 54%,
    var(--quarternary-color) 54%,
    var(--quarternary-color) 82.625%,
    transparent 82.625%,
    transparent 100%
  );
  background-image: linear-gradient(
    transparent 0%,
    transparent 54%,
    var(--quarternary-color) 54%,
    var(--quarternary-color) 82.625%,
    transparent 82.625%,
    transparent 100%
  );
}

.capital {
  font-size: 2.4rem;
  font-weight: 600;
}

/* =================================== */
/* ============== MAIN =============== */
/* =================================== */
main {
  flex: 1;
  display: flex;
}

main .container {
  width: 100%;
  background-color: #f6f6f6;
  padding: 1.1em;
  flex: 1;
}

main .container h1 {
  overflow-wrap: break-word;
}

main .container h1:before {
  content: '';
  border: 6px solid var(--tertiary-color);
  margin-right: 0.3em;
  border-top: 0;
  border-bottom: 0;
}

/* ----- index.html Main ----- */
div.main article {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.main--body {
  width: 100%;
}

.main--img {
  width: 100%;
}

div.main article:last-child {
  margin-bottom: 0;
}

div.main article p {
  margin-bottom: 1.5em;
}

span.education,
span.evaluation,
span.engagement {
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 6px;
  font-size: 2rem;
  text-align: center;
  padding-top: 1px;
  background-color: var(--quinary-color);
  color: white;
}

/* ----- lotg.html Main ----- */
main.lotg-main .container {
  padding: 1em 1.5em;
}

.lotg-intro--flex ol {
  margin-left: 2.5em;
  padding: 1em 0 2em;
}

figure.lotg-21-22 {
  display: none;
}

#law-1 {
  grid-area: law1;
}
#law-2 {
  grid-area: law2;
}
#law-3 {
  grid-area: law3;
}
#law-4 {
  grid-area: law4;
}
#law-5 {
  grid-area: law5;
}
#law-6 {
  grid-area: law6;
}
#law-7 {
  grid-area: law7;
}
#law-8 {
  grid-area: law8;
}
#law-9 {
  grid-area: law9;
}
#law-10 {
  grid-area: law10;
}
#law-11 {
  grid-area: law11;
}
#law-12 {
  grid-area: law12;
}
#law-13 {
  grid-area: law13;
}
#law-14 {
  grid-area: law14;
}
#law-15 {
  grid-area: law15;
}
#law-16 {
  grid-area: law16;
}
#law-17 {
  grid-area: law17;
}

div.lotg-summary--grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'law1'
    'law2'
    'law3'
    'law4'
    'law5'
    'law6'
    'law7'
    'law8'
    'law9'
    'law10'
    'law11'
    'law12'
    'law13'
    'law14'
    'law15'
    'law16'
    'law17';
}

div.lotg-summary--grid article {
  background-color: #edeee0;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 0 0 1px 0px rgb(163, 163, 163);
  display: flex;
  flex-direction: column;
}

div.law-img {
  width: 60%;
  margin: 1em auto 0.5em;
}

div.law-img img {
  border-radius: 5% 60% 5% 5%;
}

div.law-body {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

div.law-body h3 {
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

div.law-body ul {
  margin-left: 1em;
}

div.law-body ul li {
  line-height: 1.6;
}

span.back-to-top {
  align-self: flex-end;
  margin-top: 1em;
}

span.back-to-top a {
  font-size: 1rem;
  color: darkblue;
  border-bottom: 0;
}

span.back-to-top a:hover {
  color: var(--tertiary-color);
}

/* =================================== */
/* ============= FOOTER ============== */
/* =================================== */
footer .container {
  width: 100%;
  height: 160px;
  background-image: url(../images/wave.svg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

footer p {
  position: absolute;
  bottom: 1em;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

/* =============================================== */
/* ========== MEDIUM Media Query @665px ========== */
/* =============================================== */
@media (min-width: 665px) {
  #brand h1 a {
    font-size: 3.4rem;
  }

  .menu-toggle {
    display: none;
  }

  .show {
    height: auto;
  }

  nav#navbar {
    visibility: visible;
    height: 43px;
    border-bottom: solid 2px var(--tertiary-color);
  }

  nav#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav#navbar a,
  nav#navbar a:link,
  nav#navbar a:visited {
    border-bottom: 0px;
    padding: 10px;
  }

  nav#navbar ul li a.active {
    color: var(--tertiary-color);
  }

  /* ----- index.html ----- */
  div.main article {
    flex-direction: row;
    align-items: center;
  }

  main .container {
    padding: 1.5em;
  }

  .main--body {
    width: 55%;
    padding-right: 1em;
  }

  .main--img {
    width: 45%;
  }

  footer p {
    bottom: 1.75em;
    font-size: 0.9rem;
  }

  /* ----- lotg.html ----- */
  main.lotg-main .container {
    padding: 1em 2em;
  }

  div.lotg-summary--grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'law1 law2'
      'law3 law4'
      'law5 law6'
      'law7 law8'
      'law9 law10'
      'law11 law12'
      'law13 law14'
      'law15 law16'
      'law17 .';
  }

  .lotg-intro--flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  figure.lotg-21-22 {
    display: block;
    max-width: 35%;
  }

  div.law-img {
    width: 60%;
  }

  div.law-img img {
    border-radius: 15% 2% 15% 2%;
    margin: 0 auto;
  }

  div.lotg-summary--grid article div.law-body {
    flex: 1;
  }

  div.lotg-summary--grid article div.law-body ul {
    flex: 1;
  }
}

/* =============================================== */
/* ========== LARGE Media Query @940px ========== */
/* =============================================== */
@media (min-width: 940px) {
  #brand {
    width: 40%;
  }

  #brand h1 {
    padding-left: 0.25em;
  }

  .show {
    border-bottom: none;
  }

  header nav#navbar {
    width: 60%;
    height: 60px;
    background-color: var(--secondary-color);
    display: flex;
    border-bottom: 0;
  }

  header nav#navbar ul {
    justify-content: center;
    margin-left: auto;
    margin-right: 1em;
  }

  header nav#navbar ul li a {
    margin: 0;
  }

  header nav#navbar a {
    font-weight: 600;
    color: var(--primary-color);
    text-shadow: none;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    margin: 2px;
  }

  header nav#navbar a:hover {
    background-color: unset;
  }

  header nav#navbar ul li a.active {
    color: var(--tertiary-color);
    background-color: #44444433;
    border-radius: 12px;
  }

  /* ----- index.html ----- */
  main .container {
    padding-bottom: 3em;
  }

  div.main {
    display: flex;
    justify-content: space-around;
  }

  div.main article {
    flex-direction: column;
    width: 31%;
    margin: 0;
  }

  div.main article p {
    order: 1;
  }

  .main--body {
    width: 100%;
    padding: 0;
    flex: 1;
  }

  .main--img {
    width: 100%;
  }

  /* ----- lotg.html ----- */
  main.lotg-main .container {
    padding: 1em 3em 3em;
  }

  figure.lotg-21-22 {
    max-width: 30%;
  }

  figure.lotg-21-22 img {
    border-radius: 5px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--quinary-color);
  }

  div.lotg-summary--grid article {
    flex-direction: row;
  }

  div.law-img {
    width: 25%;
  }

  div.law-img img {
    width: 80%;
    border-radius: 7px;
    margin-left: 1em;
    box-shadow: 0 0 0 2px white, 0 0 0 4px var(--quinary-color);
  }

  span.back-to-top {
    align-self: center;
    transform: translateX(-120px);
  }

  div.lotg-summary--grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'law1 law1 law1'
      'law2 law2 law2'
      'law3 law3 law3'
      'law4 law4 law4'
      'law5 law5 law5'
      'law6 law6 law6'
      'law7 law7 law7'
      'law8 law8 law8'
      'law9 law9 law9'
      'law10 law10 law10'
      'law11 law11 law11'
      'law12 law12 law12'
      'law13 law13 law13'
      'law14 law14 law14'
      'law15 law15 law15'
      'law16 law16 law16'
      'law17 law17 law17';
  }

  footer p {
    bottom: 2em;
  }
}
